@tailwind base;
@tailwind components;
@tailwind utilities;

@import 'react-quill/dist/quill.snow.css';

[role="table"] p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.rdt_Pagination select {
  background-image: none;
}